body{
	background-color: #46476e;
	color: #fe4354
}

.green{
padding: 10px;
background-color: yellow;
font-family: sans-serif;
}
.robot{
color: #345443;
font-family: Algerian;
padding: 13px;
background-color: rgb(253,245,213);
}
h1{
color: #abcdef;
font-family: monospace;
padding: 13px;
background-color: rgb(191,123,34);
text-shadow: 4px;
text-decoration: underline;
text-align: center;
font-size: 76px;
}
.tech{
color: #123434;
font-family: AR Darling;
padding: 13px;
background-color: rgb(123,123,123);
}
